### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
.idea/
# compiled binaries
/encryption
/server
/monitor
/watcher
# security files
src/security/.*.cmd
src/security/Module.symvers
src/security/modules.order
src/security/*.ko
src/security/*.mod
src/security/*.mod.c
src/security/*.mod.o
src/security/*.o
src/security/security_gui
src/security/user_controller